# Config file used to configure ktlint.
# Learn more: https://github.com/pinterest/ktlint#editorconfig=

[*.{kt, kts}]
indent_size = 4
insert_final_newline = true
max_line_length = 120
# Globally disabled ktlint rules.
disabled_rules = no-wildcard-imports
ktlint_disabled_rules = no-wildcard-imports